.foods {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 50px 10px 0 10px;
}
.foods-logo {
  width: 80px;
}
.foods-title {
  color: white;
  font-size: 28px;
  margin-top: 20px;
}
.foods-items {
  width: 100%;
  height: 68vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px 30px;
  scrollbar-width: none;
}
.foods-items::-webkit-scrollbar{
  display: none !important;
}
.foods-item {
  width: 100%;
  height: 220px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.foods-item > img {
  border-radius: 30px;
  height: 100%;
}
.foods-item-info {
  width: 60%;
  height: 100%;
  border-radius: 0 30px 30px 0;
  display: flex;
  flex-direction: column;
}
.foods-item-info > div {
  width: 100% !important;
  height: 50% !important;
  direction: rtl;
  color: white;
}
.foods-item-info > div:nth-child(1),.foods-item-info>div:nth-child(2){
  display: flex;
  align-items: center;
  padding:0 20px;
  font-size: 28px;
}
.foods-item-info > div > div:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.164);
  width: 260px;
  padding:10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-left: 20px;
}
.foods-item-info>div:nth-child(2) {
  flex-direction: column;
  align-items: flex-start;
  font-size: 22px;
}
/* --------------------------------------------------- */
@media only screen and (max-width:1000px){
  .foods-item-info > div:nth-child(1),.foods-item-info>div:nth-child(2){
    font-size: 24px;
  }
  .foods-item-info>div:nth-child(2) {
    font-size: 18px;
  }
}
@media only screen and (max-width:800px){
  .foods-item-info>div:nth-child(2) {
    font-size: 15px;
  }
}
@media only screen and (max-width:600px){
  .foods-items{
    padding: 10px; 
  }
  .foods-item{
    width:70%;
    height: 50vh;
    height: unset;
    padding:0;
    min-width: 300px !important;
    flex-direction: column;
  }
  .foods-item>img{
    width: 100%;
    height: 250px;
    margin-bottom:15px;
  }
  .foods-item-info{
    width: 100%;
    display: flex;
  }
  .foods-item-info>div{
    margin: 5px 0;
    justify-content: center !important;
    align-items: center !important;
    font-size: 12px !important;
  }
  .foods-item-info>div:nth-child(1){
    font-size: 16px !important;
  }
  .foods-item-info>div:nth-child(2)>span {
    margin: 5px 0;
  }
}
@media only screen and (max-width:400px){
  .foods-item-info > div:nth-child(1){
    flex-direction: column;
  }
  .foods-item-info > div>div:nth-child(1){
    margin: 0;
    margin-bottom: 10px;
  }
  .foods-item-info>div:nth-child(2) {
    font-size: 12px;
  }
  .foods-item-info > div:nth-child(1){
    font-size: 26px;
  }
}